<div class="get-form-container">
  <input type="checkbox" id="add-file-checkbox" />
  <label for="add-file-checkbox">
    <p>Add File</p>
    <svg
      class="plus-svg"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <title>Add File</title>
      <path
        d="M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
      />
    </svg>
  </label>
  <form
    class="add-file"
    action="/upload/user/<%= username %>/home/<%= path %>"
    method="post"
    enctype="multipart/form-data"
  >
    <input type="hidden" name="parent_id" value="<%= parentId %>" />
    <input type="hidden" name="path" value="<%= path %>" />

    <input type="file" name="file" id="file" />

    <button>Upload File</button>
  </form>
</div>
