<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <nav>
      <a href="/login">Login</a>
      <a href="/sign-up">Sign Up</a>
      <a href="/logout">LogOut</a>
    </nav>
    <% if (user) { %>
    <% } %>
    <form action="/profile" method="post" enctype="multipart/form-data">
        <label for="file"></label>
      <input type="file" name="file" id="file" />
      <button>Upload</button>
    </form>
  </body>
</html>
