* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  background: none;
  text-decoration: none;
  line-height: 1.5;
  font-family: inherit;
  box-sizing: border-box;
  color: #edf2f4;
}

body {
  font-family: "Google Sans Code";
  margin: 10px 350px 10px 350px;
  background-color: #2b2d42;
  height: 95vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

svg {
  fill: #edf2f4;
}

.card,
label[for="add-file-checkbox"],
.select,
header,
.path,
.logo {
  display: flex;
  align-items: center;
}

.plus-svg,
.user-svg,
.home-svg,
.logo-svg {
  height: 2em;
}

header {
  background-color: #8d99ae;
  border-radius: 8px;
  padding: 5px 15px 5px 15px;
  justify-content: space-between;
  position: relative;
  font-weight: bold;
}

.get-form {
  margin: 10% 20% 10% 20%;
  display: flex;
  flex-direction: column;
  border: solid #8d99ae 1px;
  border-radius: 8px;
  padding: 20px;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.select {
  position: relative;
  gap: 5px;
  font-size: 1.1rem;
}

.logo {
  gap: 10px;
}

.path {
  font-weight: bold;
  gap: 2px;
  border: solid #8d99ae 1px;
  border-radius: 8px;
  padding: 5px 15px 5px 15px;
}

.home-svg {
  transform: translateY(5%);
}

.folder-contents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.card {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

label[for="add-file-checkbox"] {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: dashed #8d99ae 1px;
  border-radius: 8px;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  font-size: 0;
  border: none;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #8d99ae;
}

label {
    user-select: none;
}

.add-folder-li {
    position: relative;
}

.add-folder-label {
    cursor: pointer;
}


#add-folder-checkbox:checked ~ .add-folder-label,
.folder-form,
#add-folder-checkbox,
#add-file-checkbox,
.add-file,
.dropdown,
#dropdown {
  display: none;
}

#add-file-checkbox:checked ~ .add-file{
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: dashed #8d99ae 1px;
  border-radius: 8px;
  margin-top: 20px;
}

#add-folder-checkbox:checked ~ .folder-form {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: dashed #8d99ae 1px;
  border-radius: 8px;
  margin-top: 20px;
}


#dropdown:checked ~ .dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #8d99ae;
  border-radius: 8px;
  padding: 5px 15px 5px 10px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 150px;
  transform: translateY(110%);
}

.dropdown-label {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.close-folder-checkbox,
button,
input {
  border-radius: 8px;
  background-color: #8d99ae;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  outline: none;
  font-size: 1rem;
}

button:focus,
input:focus {
  outline: solid #edf2f4 2px;
}

.close-folder-checkbox,
button {
  border: solid #edf2f4 1px;
  cursor: pointer;
}

@media (max-width: 1500px) {
  body {
    margin: 10px 100px 10px 100px;
  }
}

@media (max-width: 800px) {
  body {
    margin: 10px 20px 10px 20px;
  }

  .logo-svg {
    display: none;
  }

  .get-form {
    margin: 30px;
  }
}

@media (max-width: 400px) {
  body {
    margin: 5px;
  }
  header {
    flex-direction: column;
  }

  .get-form {
    margin: 10px;
  }
}
