* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    background: none;
    text-decoration: none;
    line-height: 1.5;
    font-family: inherit;
    box-sizing: border-box;
}

body {
    font-family: 'Google Sans Code';
}

header,
.path,
.logo {
    display: flex;
    align-items: center;
}


.home-svg,
.logo-svg {
    height: 2em;
}

header {
    justify-content: space-between;
    position: relative;
}

.select {
    position: relative;
}

.logo {
    font-size: 1.8rem;
    gap: 10px
}

.path {
    font-weight: bold;
    gap: 2px;
}

.home-svg {
    transform: translateY(5%);
}


.folder-contents {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


.dropdown,
#dropdown {
    display: none;
}

#dropdown:checked ~ .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: translateY(102%);
}

.dropdown-label {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}