* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  background: none;
  text-decoration: none;
  line-height: 1.5;
  font-family: inherit;
  box-sizing: border-box;
  color: #edf2f4;
}

body {
  font-family: "Google Sans Code";
  margin: 10px 350px 10px 350px;
  background-color: #2b2d42;
  height: 95vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

svg {
  fill: #edf2f4;
}

.card,
label[for="add-file-checkbox"],
.select,
header,
.path,
.logo {
  display: flex;
  align-items: center;
}

.download-svg,
.delete-open-svg,
.delete-close-svg,
.plus-svg,
.user-svg,
.home-svg,
.logo-svg {
  height: 2em;
}

.thumbnail,
.folder-svg {
  width: 150px;
}

img.thumbnail {
  border-radius: 8px;
}

header {
  background-color: #8d99ae;
  border-radius: 8px;
  padding: 5px 15px 5px 15px;
  justify-content: space-between;
  position: relative;
  font-weight: bold;
}

.get-form {
  margin: 10% 20% 10% 20%;
  display: flex;
  flex-direction: column;
  border: solid #8d99ae 1px;
  border-radius: 8px;
  padding: 20px;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.select {
  position: relative;
  gap: 5px;
  font-size: 1.1rem;
}

.logo {
  gap: 10px;
}

.path {
  font-weight: bold;
  gap: 8px;
  border: solid #8d99ae 1px;
  border-radius: 8px;
  padding: 5px 15px 5px 15px;
}

.path-links {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.path-links,
.path-home-link {
  transition: transform 0.2s ease-in 0.1s;
}

.path > a:hover {
  transform: translateY(-5px);
}

.home-svg {
  transform: translateY(5%);
}

.folder-contents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}

.card {
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-top: dashed #8d99ae 1px;
  border-right: dashed #8d99ae 1px;
  border-radius: 8px;
}

.delete-folder {
  position: absolute;
  top: 0px;
  right: 0px;
  background: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.delete-open-svg {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0;
  margin: 5px;
  fill: #ef233c;
}

.delete-close-svg {
  margin: 5px;
  z-index: -1;
}

.delete-close-svg:hover {
  opacity: 0;
}

.delete-close-svg:hover ~ .delete-open-svg {
  opacity: 100%;
}

.download-svg {
  margin: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translateX(-100%);
}

.download-svg:hover {
  animation: mover 0.7s infinite alternate;
  fill: #98c1d9;
}

@keyframes mover {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(-100%, 5px);
  }
}

label[for="add-file-checkbox"] {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: dashed #8d99ae 1px;
  border-radius: 8px;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  font-size: 0;
  border: none;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #8d99ae;
}

label {
  user-select: none;
}

.add-folder-li {
  position: relative;
}

.add-folder-label {
  cursor: pointer;
}

#add-folder-checkbox:checked ~ .add-folder-label,
.folder-form,
#add-folder-checkbox,
#add-file-checkbox,
.add-file,
.dropdown,
#dropdown {
  display: none;
}

#add-file-checkbox:checked ~ .add-file {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: dashed #8d99ae 1px;
  border-radius: 8px;
  margin-top: 20px;
}

#add-folder-checkbox:checked ~ .folder-form {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: dashed #8d99ae 1px;
  border-radius: 8px;
  margin-top: 20px;
}

#dropdown:checked ~ .dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #8d99ae;
  border-radius: 8px;
  padding: 5px 15px 5px 10px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 150px;
  transform: translateY(110%);
}

.dropdown-label {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}


.select,
.dropdown > a{
    padding: 2px 10px 2px 10px;
    border-radius: 8px;
}

.close-folder-checkbox:hover,
button:hover {
    opacity: 70%;
}

.select:hover,
.dropdown > a:hover {
    background-color: #2b2d42;
}

.close-folder-checkbox,
button,
input {
  border-radius: 8px;
  background-color: #8d99ae;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  outline: none;
  font-size: 1rem;
}

button:focus,
input:focus {
  outline: solid #edf2f4 2px;
}

.close-folder-checkbox,
button {
  border: solid #edf2f4 1px;
  cursor: pointer;
}

.site-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 300px;
  gap: 50px;
  padding: 25px;
  border: solid #8d99ae 1px;
  border-radius: 8px;
}

.site-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-card > p {
  font-size: 1.2rem;
  font-weight: bold1;
  text-align: center;
}

.site-link {
  padding: 25px;
  border: solid #8d99ae 1px;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1500px) {
  body {
    margin: 10px 100px 10px 100px;
  }
}

@media (max-width: 800px) {
  body {
    margin: 10px 20px 10px 20px;
  }

  .logo-svg {
    display: none;
  }

  .get-form {
    margin: 30px;
  }

  .site-info {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px;
  }
}

@media (max-width: 400px) {
  body {
    margin: 5px;
  }
  header {
    flex-direction: column;
  }

  .get-form {
    margin: 10px;
  }
}
