* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  background: none;
  text-decoration: none;
  line-height: 1.5;
  font-family: inherit;
  box-sizing: border-box;
  color: #edf2f4;
}

body {
  font-family: "Google Sans Code";
  margin: 10px 350px 10px 350px;
  background-color: #2b2d42;
  height: 95vh;
}

svg {
  fill: #edf2f4;
}

header,
.path,
.logo {
  display: flex;
  align-items: center;
}

.home-svg,
.logo-svg {
  height: 2em;
}

header {
  background-color: #8d99ae;
  border-radius: 8px;
  padding: 5px 10px 5px 10px;
  justify-content: space-between;
  position: relative;
}

.get-form {
    margin: 10% 20% 10% 20%;
    display: flex;
    flex-direction: column;
    border: solid #8d99ae 1px;
    border-radius: 8px;
    padding: 20px;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.select {
  position: relative;
}

.logo {
  gap: 10px;
}

.path {
  font-weight: bold;
  gap: 2px;
}

.home-svg {
  transform: translateY(5%);
}

.folder-contents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.dropdown,
#dropdown {
  display: none;
}

#dropdown:checked ~ .dropdown {
  display: flex;
  flex-direction: column;
  background-color: #8d99ae;
  border-radius: 8px;
  padding: 5px 15px 5px 10px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 150px;
  transform: translateY(110%);
}

.dropdown-label {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

button,
input {
    border-radius: 8px;
    background-color: #8d99ae;
    font-weight: bold;
    padding: 5px 15px 5px 15px;
    outline: none;
    font-size: 1rem;
}

button:focus,
input:focus {
    outline: solid #edf2f4 2px;
}

button {
    border: solid #edf2f4 1px;
    cursor: pointer;
}

@media (max-width: 1500px) {
  body {
    margin: 10px 100px 10px 100px;
  }
}

@media (max-width: 800px) {
  body {
    margin: 10px 20px 10px 20px;
  }

  .logo-svg {
    display: none;
  }

  .get-form {
    margin: 30px;
  }
}

@media (max-width: 400px) {
  body {
    margin: 5px;
  }
  header {
    flex-direction: column;
  }
  
  .get-form{
    margin: 10px;
  }
}
